*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}

html,body{
    height: 100%;
    width: 100%

}
.main{
    height: 100%;
    width: 100%;
    background-color: black;
}
                                                         /* nav */
#nav{
    width: 100%;
    height:140px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px ;
}
.nav-prt2{
    /* background-color: blue; */
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items:center;   
    text-transform: capitalize;

}

.line{
    width: 80px;
    height: 2px;
    background-color: red;
}

#nav h1{
    font-size: 20px;
    display: block;
    align-items: center;
}

#nav i{
    font-size: 20px;
    margin: 5px;
}
#nav h5{
    font-size: 14px;
}
                                                /* cotent */

.content{
    /* background-color: blueviolet; */
    width: 100%;
    height:calc(100% - 140px);
    display: flex;
    position: relative;
}
.left{
    width: 36%;
    height: 100%;
    /* background-color:blue ; */
    padding: 100px 100px;
}
.left h1{
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 20px;

}
.left h1 span{
    color: red;

}
.left p{
/* line-height: 20px; */
margin-bottom: 20px;
width: 100%;
/* font-size: 18px; */

}
.left .left-button button{
    background-color: red;
    padding: 20px 40px;
    border-radius: 50px;
    font-size: 15px;
}
.left .left-button i{
    color: red;
    margin-left: 10px;
    
}
.center{
    width: 28%;
    height: 100%;
    display: flex;
    padding-top:60px;
    /* background-color: red; */
}
.center-bg{
    width: 100%;
    height: 95%;
    background-color: blue;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    background-image: url(https://c0.wallpaperflare.com/preview/85/135/782/coca-cola-led-signage.jpg);
    background-size: 450% ;
    background-position: 30% 40%;
    filter: blur(5px);
}   
.right{
    width: 36%;
    height: 100%;
    /* background-color:blue ; */
    padding: 300px 50px;
}
.right .right-elems{
    /* background-color: red; */
    width: 400px ;
}
.right .right-elems #elem1,#elem2{
    display: flex;
    /* background-color: blue; */
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid white  ;
}
#elem1 h1,#elem2 h1{
    font-size: 24px;
    /* font-weight: 600; */
    opacity:0.5;
}
#elem1 i, #elen2 i{
    font-size: 24px;
    opacity:0.5;
    

}
#elem3{
    padding-top: 10px;
}
#elem3 h1{
    font-size: 24px;
    margin-bottom: 10px;
}
#elem3 p{
    font-size: 12px;
    opacity: 0.5;
}
.content img{
    height: 100%;
    position: absolute;
    left: 49%;
    transform:translate(-50%,0%) ;
}